<h2>Edit Movie Information</h2>

<%= form_for @movie, url:"/movies/#{@movie.id}" do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
<br>
  <%= f.label :director %>
  <%= f.text_field :director %>
<br>
  <%= f.label :written_by %>
  <%= f.text_field :written_by %>
<br>
  <%= f.label :poster_url %>
  <%= f.text_field :poster_url %>
<br>
  <%= f.label :release_Date %>
  <%= f.text_field :release_date %>
<br>
  <%= f.label :summary %>
  <%= f.text_area :summary, :cols => "100"  %>
<br>
  <%= f.submit "Update"%>

<% end %>
