<h2>New Movie For Review</h2>

<%= form_for @movie do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
<br>
  <%= f.label :director %>
  <%= f.text_field :director %>
<br>
  <%= f.label :written_by %>
  <%= f.text_field :written_by %>
<br>
  <%= f.label :poster_url %>
  <%= f.text_field :poster_url %>
<br>
  <%= f.label :release_Date %>
  <%= f.text_field :release_date %>
<br>
  <%= f.label :summary %>
  <%= f.text_area :summary, :cols => "75", :rows => "5"  %>
<br>
  <%= f.submit "Add Movie" %>

  <% end %>
