<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <nav>
      <%= link_to image_tag("WiWi.png"), "/movies" %>Was It Worth it?
        <div class = "nav-user">
        <% if !current_user %>
    <%= link_to "Sign in", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <% else %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%= current_user.email %>
  <% end %>
</div>
  </nav>
  </head>

    <body>





    <%= yield %>
  </body>
</html>
