<!DOCTYPE html>
<html>
  <head>
    <title>WiWi?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <nav>
      <%= link_to image_tag("WiWi.png", height: 40, width: 40), "/movies" %>Was It Worth it?
        <div class = "nav-user">
        <% if !current_user %>
          <%= link_to "Sign in", new_user_session_path %> |
          <%= link_to "Sign up", new_user_registration_path %>
        <% else %>
          <%= current_user.email %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% end %>
        </div>
    </nav>
  </head>







    <%= yield %>
  </body>
</html>
