<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <nav>
      <%= link_to image_tag("wiwi-red.png"), "/movies" %>Was It Worth it?
    <!-- <h1><img src="images/WiWi.png"><a href= "/movies">Was It Worth It?</a></h1> -->

  </nav>
  </head>

    <body>



    <%= yield %>
  </body>
</html>
