<br>
<br>
<div class = "form">
<%= form_for [@movie, @review, @comment]  do |f| %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :comments %>
  <%= f.text_area :comments, :cols => "75" %>
<br>
<br>
  <%= f.submit "Update Comment"%>
<h3> <%= link_to "Delete Comment", movie_review_comment_path(@movie, @review), method: :delete%></h3>
  <% end %>
</div>
