<h2>Edit: </h2>
<%= form_for [@movie, @review]  do |f| %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>
<br>
  <%= f.label :review %>
  <%= f.text_area :content %>
<br>
  <%= f.submit "Update"%>
  <% end %>

  <%= form_for [@movie, @review], url: "/movies/#{@movie.id}/reviews/#{@review.id}", method: :delete do |f| %>
  <%= f.submit "Delete Review", class: "btn-delete"%>
  <% end %>
