<div class = "review">
<h2>Critic: <%= @review.author %> <font color="gold">|</font> Posted: <%= @review.created_at.strftime("%B %d, %Y")%> <font color="gold">|</font> Updated: <%= @review.updated_at.strftime("%B %d, %Y")%></h2>
<h2>Was It Worth It? "<%= @review.rating %>"</h3>
<div class="review-content">
  <p><%= simple_format(@review.content )%></p>
</div>

<% if @review.user == current_user %>
<p><%= link_to "Edit Review", edit_movie_review_path %> | <%=link_to "Delete Review", movie_review_path(@movie, @review), method: :delete, data: {confirm: "Are you sure you want to delete?"}%></p>
<% end %>
<br>

<h3>Comments<%=link_to "(+)", new_movie_review_comment_path(@movie, @review)%></h3>
<% @review.comments.each do |comment| %>

<P>"<%= comment.comments %>" <font color="gold"> | </font> Comment by: <%= comment.author %> <font color="gold"> | </font> On: <%= comment.created_at.strftime("%b %d. %y")%>

  <% if comment.user == current_user %> <%=link_to "Edit", edit_movie_review_comment_path(@movie, @review, comment)%>  <% end %>

<% end %>
</div>
