<div class = "review">
<h2>Critic: <%= @review.author %> <font color="gold">|</font> Posted: <%= @review.created_at.strftime("%b %d. %Y")%></h2>
<h2>Rating: <%= @review.rating %></h2>
<p><%= @review.content %></p>
<p><%= link_to "Edit Review", edit_movie_review_path %> | <%=link_to "Delete Review", movie_review_path(@movie, @review), method: :delete%></p>
<br>

<h3>Comments<%=link_to "(+)", new_movie_review_comment_path(@movie, @review)%></h3>
<%= @review.comments.each do |comment| %>
<p>"<%= comment.comments %>"
Comment by: <%= comment.author %> <%=link_to "Edit", edit_movie_review_comment_path(@movie, comment)%>

<% end %>
</div>
