<br>
<div class = "form">
  <%= @movie.title %>
<%= form_for [@movie, @review]  do |f| %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :Was_it_worth_it?  %>
  <%= f.select :rating, [["Totally worth it!"], ["Thank goodness I didn't pay for it"] , ["Wouldn't pay for a friend"] , ["Waste  of my time and money!"]] %>
<br>
  <%= f.label :review %>
  <%= f.text_area :content, :cols => "80", :rows => "30" %>
<br>
  <%= f.submit "Update"%>
  <% end %>
</div>
