
<br>
<div class="form">
  <h1> New review for "<%= @movie.title %>"</h1>
<%= form_for [@movie, @review]  do |f| %>

  <%= f.label :author %>
  <%= f.text_field :author %>
<br>
<br>
  <%= f.label :Was_it_worth_it?  %>
  <%= f.select :rating, [["Totally worth it!"], ["Wouldn't pay for a friend"], ["Thank goodness I didn't pay for it"] ,  ["Waste  of my time and money!"]] %>
<br>
<br>
  <%= f.label :review %>
  <%= f.text_area :content, :cols => "80", :rows => "30" %>
<br>
<br>
  <%= f.submit "Submit Review"%>
  <% end %>

</div>
