<!DOCTYPE html>
<html>
  <head>
    <title>WiWi?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="hover.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <nav>
      <%= link_to image_tag("WiWi.png", height: 40, width: 40), "/movies" %>Was It Worth it?
      <div class = "search-bar">
      <%= form_tag(movies_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
        <%# Nice configuration for adding search query to params %>
      </div>

        <div class = "nav-user">
        <% if !current_user %>
          <%= link_to "Sign in", new_user_session_path %> |
          <%= link_to "Sign up", new_user_registration_path %>
        <% else %>
          <%= current_user.email %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% end %>
        </div>

    </nav>
  </head>
<body>
  <!-- <p> <a href = "/movies/new"> Add Movie for Review </a></p> -->
<%# In ERB files, be careful of just using CMD+? for commenting out.
The above comment could cause an error. One formatted like this one won't. %>




    <%= yield %>
  </body>
</html>
